.cont__bottom button {
    border: 0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    margin-top: 0.75rem; 
    outline: purple 2px solid;
    padding: 1em 1em;
}

.cont__bottom .cont__bottom-counter {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cont__bottom .cont__bottom-counter button {
    align-items: center;
    border: 0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    outline: purple 2px solid;
    padding: 1em 1em;
}

.cont__bottom .cont__bottom-counter span {
    color: #000;
    font-style: normal;
    text-decoration: none;
    margin: 0;
}

.cont__bottom h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1em 0;
}

.cont__bottom p {
    color: #000;
    margin: 1em 0 0 0;
}


.cont__bottom button a {
    color: #000;
}