.itemBody {
    align-items: center;
    background-color: #d7d7d7;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    margin: 1.5em 1em;
    outline: red 1px solid;
    padding: 1.5em;
    width: 400px;
}

.itemBody h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1em 0;
}

.itemBody span {
    color: #000;
    margin: 0;
}

.itemBody p {
    color: #000;
    margin: 1em 0 0 0;
}

.itemBody img {
    width: 80%;
}