* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.counterContainer {
    align-items: center;
    border: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5em auto;
    text-align: center;
    width: 30%;
}

.counterContainer .addProducts {
    border: 0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    margin: 1em 0;
    outline: purple 2px solid;
    padding: 1em 1em;
    width: 150px;
}

.counter {
    display: flex;
    flex-direction: row;
}

.counter .addButton {
    margin: 0 1em;
    outline: #000 2px solid;
    padding: 0.5em;
    width: 2em;
}

.counter .removeButton {
    margin: 0 1em;
    outline: #000 2px solid;
    padding: 0.5em;
    width: 2em;
}
