.itemListGroup {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;
}

.itemListGroup h1 {
    color: #fff;
    margin: 3rem auto;
}