* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

ul {
    list-style: none;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-header {
  width: 100%;
}

.bold {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
